// Thanks to https://github.com/cscorley/base16-summerfruit-scheme for the color scheme
$base00: #151515;
$base01: #202020;
$base02: #303030;
$base03: #505050;
$base04: #B0B0B0;
$base05: #D0D0D0;
$base06: #E0E0E0;
$base07: #FFFFFF;
$base08: #FF0086;
$base09: #FD8900;
$base0A: #ABA800;
$base0B: #00C918;
$base0C: #1FAAAA;
$base0D: #3777E6;
$base0E: #AD00A1;
$base0F: #CC6633;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $base06;
  color: $base06;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  grid-area: title;
  display: flex;
  font-size: 1.3em;
  color: $base01;
}

.container {
  padding: 8px;
  display: grid;
  height: 100%;
  box-sizing: border-box;
  gap: 5px;

  grid-template-areas:
    "title title title"
    "chat chat userlist"
    "input input input";
  grid-template-columns: 1fr 1fr 200px;
  grid-template-rows: auto 1fr auto;
}

.chat {
  grid-area: chat;
}

.userlist {
  grid-area: userlist;
}

.input {
  grid-area: input;

  display: flex;

  button {
    background: $base0D;
    color: $base06;
    border: solid $base04 2px;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 0 5px 5px 0;
  }

  button:active {
    background: $base06;
    color: $base0D;
  }

  button:focus {
    outline: none;
  }

  input {
    flex-grow: 1;
    width: auto;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 1.2em;
    background: $base04;
    color: $base00;
    padding: 5px;
  }

  input:focus {
    outline: none;
  }
}

.chat, .userlist {
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  overflow-y: scroll;
  background: $base00;
  & > span {
    flex-shrink: 0;
    font-size: 1.2em;
    padding: 5px;
  }
  & > :first-child {
    margin-top: auto;
  }
}

#chat-title {
  margin-right: auto;
}

#online-title {
  width: 200px;
}

.rounded-border {
  border-radius: 5px;
  border: none;
}

.user {
  font-weight: bold;
}

.message {
  display: flex;

  .time {
    min-width: 55px;
    margin-right: 3px;
  }
}

.system-message {
  color: $base03;
}

#toggle-userlist {
  display: none;
  background: $base06;
  grid-area: toggle-userlist;
  justify-self: end;
  border: none;
  border-radius: 5px;
}

.padding-arrow-left {
  padding: 5px 6px 5px 9px;
}

.padding-arrow-right {
  padding: 5px 9px 5px 6px;
}

#toggle-userlist:active {
  background: $base03;

  > .arrow {
    border-color: $base06;
  }
}

#toggle-userlist:focus {
  outline: none;
}

.arrow {
  border: solid $base00;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-areas:
      "title title title"
      "chat chat chat"
      "input input input";
    grid-template-columns: 1fr 1fr 200px;
  }

  .userlist {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border: 2px solid $base04;
  }

  #online-title {
    display: none;
  }

  #toggle-userlist {
    display: inline;
  }

  .mobile-hidden {
    display: none;
  }
}
